html,body {
    margin: 0;
    padding: 0
}

body {
    background-image: url("https://cadenaser00.epimg.net/ser/imagenes/2021/04/08/ciencia/1617866705_638557_1617869065_noticia_normal.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.timetofly {
    text-align: center;
    font-size: 150px;
    color: white;
    font-family: monaco,Consolas,Lucida Console,monospace;
    padding-top: 50px;
    
    
}

.instructions {
  font-size: 1.6em;
  text-align: center;
  border: 2px solid #eee;
  border-radius: 20px;
  box-sizing: border-box;
  box-shadow: 2px 2px 10px 0 #eee;
  margin: 50px 5% 0 5%;
  padding: 20px 20px 20px 20px;
  width: 20%;
  color: white;
  text-shadow:  2px 2px 10px;
}

.play{
    font-size: 1.6em;
    text-align: center;
    border: 2px solid #eee;
    border-radius: 20px;
    width: 20%;
    margin-left: 40%;
    color: white;
    text-shadow:  2px 2px 10px;
    box-shadow: 2px 2px 10px 0 #eee;
    
    
    
}

.hide {
    display: none;
}

.menu{
    color:white;
    position:relative;
    list-style: none;
    left: 45px;
    border: 2px solid #eee;
    border-radius: 20px;
    width: 16%;
    padding-left: 10px;
    margin-left: 28px;
    padding-right: 40px;
    text-shadow:  2px 2px 10px;
    box-shadow: 2px 2px 10px 0 #eee;
}

.prueba {
    position: relative;
    bottom: 40px;
}

.centro {
    position: relative;
    bottom: 150px;
}