html,body {
    margin: 0;
    padding: 0
}

body {
    background-image: url("https://cadenaser00.epimg.net/ser/imagenes/2021/04/08/ciencia/1617866705_638557_1617869065_noticia_normal.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.timetofly {
    text-align: center;
    font-size: 150px;
    color: white;
    font-family: monaco,Consolas,Lucida Console,monospace;
    padding-top: 50px;
    
    
}

/**** START SCREEN ****/

.instructions {
  font-size: 1.6em;
  text-align: center;
  border: 2px solid #eee;
  border-radius: 20px;
  box-sizing: border-box;
  box-shadow: 2px 2px 10px 0 #eee;
  margin: 50px 5% 0 5%;
  padding: 20px 20px 20px 20px;
  width: 20%;
  color: white;
  text-shadow:  2px 2px 10px;
}

.play{
    font-size: 1.6em;
    text-align: center;
    border: 2px solid #eee;
    border-radius: 20px;
    width: 20%;
    margin-left: 40%;
    color: white;
    text-shadow:  2px 2px 10px;
    box-shadow: 2px 2px 10px 0 #eee;
    
    
    
}

.menu{
    color:white;
    position:relative;
    list-style: none;
    left: 45px;
    border: 2px solid #eee;
    border-radius: 20px;
    width: 16%;
    padding-left: 10px;
    margin-left: 28px;
    padding-right: 40px;
    text-shadow:  2px 2px 10px;
    box-shadow: 2px 2px 10px 0 #eee;
}

.panel {
    position: relative;
    bottom: 40px;
}

.centro {
    position: relative;
    bottom: 150px;
}

/**** PAUSED SCREEN ****/

#pause {
    border: 2px solid white;
    color:red;
    text-align: center;
    width: 20%;
    padding: 50px 50px 10px 50px;
    position: relative;
    left: 550px;
    bottom: 100px;
    font-size: 50px;
    background-color: black;
}


.p-pause {
    color:white;
    bottom: 70px;
    position: relative;
}

.btn-continue {
    color:white;
    border: 2px solid white;
    bottom: 50px ;
    position:relative;

}

/**** Game Over Screen ****/

#game-over {
    border: 5px solid white;
    padding: 50px 100px 50px 100px;
    width: 20%;
    position: relative;
    left: 500px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    background-color: black;
    
}

.over {
    color:white;
    font-size: 60px;
    position:relative;
    bottom: 50px;
    left: 10px
    
}

.phrase {
    color:white;
    font-size: 30px;
    position: relative;
    bottom: 60px;
    left: 15px;
}

.btn-again {
    color:white;
    position: relative;
    font-size: 50px;
    bottom: 50px;
    left: 5px;
    border: 2px solid white;
    text-align: center;
}

/**** WIN SCREEN ****/

#win {
    position: relative;
    border: 5px solid white;
    width: 20%;
    padding: 70px 125px 0px 70px;
    left: 500px;
    background-color: black;
}

.gz {
    color:white;
    font-size: 50px;
    position: relative;
    bottom: 80px;
    left: 10px;
}

.good-job {
    color:white;
    font-size: 30px;
    white-space: nowrap;
    right: 30px;
    bottom: 100px;
    position:relative;
}

.btn-play-again {
    color: white;
    border: 2px solid white;
    position: relative;
    text-align: center;
    font-size: 40px;
    bottom: 90px;
    left: 25px
    
}

#canvas {
    background-color: white;
    position:relative;
    bottom: 2000px;
    

}

.hide {
    display:none;
}